<%- include header %>

  <body>
    <header class="bar bar-nav">
      <h1 class="title">About</h1>
    </header>

    <nav class="bar bar-tab">
      <a class="tab-item" href="/search">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
      </a>
      <a class="tab-item" href="/discover">
        <span class="icon icon-star"></span>
        <span class="tab-label">Discover</span>
      </a>
      <a class="tab-item" href="/me">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item active" href="/about">
        <span class="icon icon-more"></span>
        <span class="tab-label">About</span>
      </a>
      <a class="tab-item" href="/add">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Posting</span>
      </a>
    </nav>

    <div class="content">
      <div class="content-padded text-center" id="about">
       <h2>Rentify is a Sheridan Hackathon project</h2>
       <h3>16 hours of straight coding</h3>
      </div>
      <div class="text-center" style="background-color: #fff; padding: 5px;">
        <h4>Rentify is an app that helps you: </h4>
        <ul style="text-align: left;">
          <li><b>Rent</b> stuff that you don't want to buy</li>
          <li><b>Rent</b> things that are hard to find in a store</li>
          <li><b>Rent out</b> stuff that you don't use and make money </li>
        </ul>
      </div>
      <div class="text-center" style="color: #999; margin: 10px; font: 12px tahoma; text-shadow: 0 1px 0 #fff; padding: 7px;">
        Taylored by Oleg Berman & Herman Starikov.
      </div>
    </div>

  </body>

  <%- include footer %>