<%- include header %>

  <body>
    <header class="bar bar-nav">
      <h1 class="title">Rentify</h1>
    </header>

    <nav class="bar bar-tab">
      <a class="tab-item active" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">Discover</span>
      </a>
      <a class="tab-item" href="/me">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-more"></span>
        <span class="tab-label">About</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Posting</span>
      </a>
    </nav>

    <div class="content">
      <form mathod="POST" action="/get/search/results">
        <input type="search" placeholder="Search...">
        <ul class="table-view">
          <li class="table-view-cell">
            <a class="navigate-right">
              <span class="badge">Any</span>
              Location
            </a>
          </li>
          <li class="table-view-cell">
            <a class="navigate-right">
              <span class="badge">All</span>
              Category
            </a>
          </li>
          <li class="table-view-cell">
            <a class="navigate-right">
              <span class="badge">&#60; $20</span>
              Charge
            </a>
          </li>
        </ul>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
      </form>
      <button class="btn btn-negative btn-block btn-outlined">Clear</button>
    </div>

  </body>
<%- include footer  %>
