<%- include header %>

  <body>
    <header class="bar bar-nav">
      <h1 class="title">Login</h1>
    </header>

    <!-- nav class="bar bar-tab">
      <a class="tab-item" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">Discover</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-more"></span>
        <span class="tab-label">About</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Posting</span>
      </a>
    </nav -->

    <div class="content">

      <div class="content-padded">
        <form method="POST" action="/loginHandler">
          <input name="email" type="text" placeholder="steve@apple.com" />
          <input name="password" type="password" placeholder="Your password..." />
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
      </div>
      <a href="/signup" class="btn btn-link btn-block">Don't have an account?</a>

    </div>

  </body>

<%- include footer %>