  <%- include header %>
  <body>
    <header class="bar bar-nav">
      <h1 class="title">Sign up</h1>
    </header>

    <nav class="bar bar-tab">
      <a class="tab-item active" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">Discover</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-more"></span>
        <span class="tab-label">About</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Posting</span>
      </a>
    </nav>

    <div class="content">

      <form method="POST" action="/post/user">
        <input name="name" type="text" placeholder="Steve Wozniak" />
        <input name="email" type="text" placeholder="steve@apple.com" />
        <input name="password" type="password" placeholder="Your password..." />
        <input name="phoneNumber" type="text" placeholder="+1 (289) 834-29-10" />
        <textarea name="address" rows="4" placeholder="1 Infinite Loop Cupertino, CA 95014"></textarea>
      </form>

      <button class="btn btn-primary btn-block">Sign up</button>

      <button class="btn btn-link btn-block">Already have an account?</button>

    </div>

  </body>
<%- include footer %>
