  <%- include header %>
  <body>
    <header class="bar bar-nav">
      <h1 class="title">Sign up</h1>
    </header>

    <div class="content">

      <form method="POST" action="/post/user">
        <input name="name" type="text" placeholder="Steve Wozniak" />
        <input name="email" type="text" placeholder="steve@apple.com" />
        <input name="password" type="password" placeholder="Your password..." />
        <input name="phoneNumber" type="text" placeholder="+1 (289) 834-29-10" />
        <textarea name="address" rows="4" placeholder="1 Infinite Loop Cupertino, CA 95014"></textarea>

      <button type="submit" class="btn btn-primary btn-block">Sign up</button>

      </form>

      <a href="/login" class="btn btn-link btn-block">Already have an account?</a>

    </div>

  </body>
<%- include footer %>
