<%- include header %>

  <body>
    <header class="bar bar-nav">
      <h1 class="title">Login</h1>
    </header>

    <div class="content">

      <div class="content-padded">
        <form method="POST" action="/loginHandler">
          <input name="email" type="text" placeholder="steve@apple.com" />
          <input name="password" type="password" placeholder="Your password..." />
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
      </div>
      <a href="/signup" class="btn btn-link btn-block">Don't have an account?</a>

    </div>

  </body>

<%- include footer %>